<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<!--%{ load static from staticfiles %}-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

<nav>
    <ul>
        <li><a href="{% url 'blog:post_list' %}">HK</a></li>
        <li>
            <form action="{% url 'blog:post_search' %}" method="get">
                <input class="query" type="text" name="query">
                <input type="submit" value="Search">
            </form>
        </li>
        <li><a href="{% url 'blog:post_list' %}">Latest</a></li>
        <li><a href="{% url 'blog:post_feed' %}">RSS</a></li>
        <li><a href="{% url 'blog:post_list' %}">Contact</a></li>
    </ul>
</nav>

    <div class="wrapper">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
<!--            <h3>My Blog</h3>-->
            <p>This is my blog. I have written <span class="no_of_posts">{% total_posts %}</span> posts till now</p>
            <p><a href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed</a></p>

            <h3>Latest Posts</h3>
            {% show_latest_posts 4 %}
            <h3>Most Commented Posts</h3>
            {% get_most_commented_posts as most_commented_posts %}
            <ul>
                {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

            <h4><a href="{% url 'blog:post_search' %}">Search for posts</a></h4>

        </div>


    </div>

</body>
</html>